/*
      ::::::::  :::        :::::::::: :::::::::: :::::::::  :::   ::: ::::::::::: :::     ::::    :::
    :+:    :+: :+:        :+:        :+:        :+:    :+: :+:   :+:     :+:   :+: :+:   :+:+:   :+:
   +:+        +:+        +:+        +:+        +:+    +:+  +:+ +:+      +:+  +:+   +:+  :+:+:+  +:+
  +#++:++#++ +#+        +#++:++#   +#++:++#   +#++:++#+    +#++:       +#+ +#++:++#++: +#+ +:+ +#+
        +#+ +#+        +#+        +#+        +#+           +#+        +#+ +#+     +#+ +#+  +#+#+#
#+#    #+# #+#        #+#        #+#        #+#           #+#        #+# #+#     #+# #+#   #+#+#
########  ########## ########## ########## ###           ###        ### ###     ### ###    ####

                                   .
   .;^^;.  .--..;^^;. .;^^;.     .'
   `  .'  ; .';`  .'  `  .'     ;-..    .-.
    .'   ;.' ;  .'     .'      ;   ;`:  ;
  .;;;;;'`;;' .;;;;;'.;;;;;' .'`::'`-`.'
   .;^^;                          -.;'
   `  .' . ,';.,';. .-.   .-.  . ,';.
     '.  ;;  ;;  ;;;   ;';   ;';;  ;;
  ';;;;'';  ;;  '; `;;'  `;;' ';  ;;
       _;        `-'          ;    `.
*/

/* -- fixups for dumb browser behavior -- */
body { margin: 0; }
main { display: block; }
details { display: block; }
summary { display: list-item; }
[hidden] { display: none; } /* IE10 🤔 */

/*-- resources --*/
@font-face {
    font-family: "MingLiU";
    src: url("/static/MingLiU.woff2");
}

@font-face {
    font-family: "New Heterodox Mono";
    src: url("/static/NewHeterodoxMono.woff2");
}

html {
    font-family: "MingLiU";
    font-size: 1.1rem;
    letter-spacing: .05rem;
}

input[type=submit] {
    font-family: "MingLiU";
    font-size: .9rem;
    letter-spacing: .05rem;
}

input[type=text] {
    font-family: "MingLiU";
    letter-spacing: .05rem;
}

/* -- general elements -- */
code, pre, textarea {
    font-family: "New Heterodox Mono";
}

textarea {
    font-size: .8em;
}

.hid {
    font-family: "New Heterodox Mono";
    font-size: .8em;
}

h1 {
    letter-spacing: 1rem;
    margin-top: 0;
    margin-bottom: 0;
}

main {
    margin: 0 5rem;
}

.sticky {
    position: fixed;
    bottom: 0;
    right: 0;
}

/* -- heading, common -- */
body > header {
    margin: 1em;
}

.logotype {
    text-decoration: none;
    color: #111;
}

/* -- index page -- */
.board-list > .board {
    background-color: antiquewhite;
    margin-bottom: 0.2em;
}

/* -- user page --*/
article.user {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

section.mypage {
    width: 50%;
}

section.posts {
    width: 50%;
}

form.mypage {
    width: 50%;
}

form.mypage > textarea {
    display: block;
    width: 100%;
    min-width: 100%;
    max-width: 100%;
}


/*-- posts --*/
.author {
    color: #444;
}

.post > header .timestamp {
    float: right;
}

.post > header {
    border-bottom: 1px solid #888;
}

.post {
    background-color: #fffbde;
    padding: .2em .2em .2em .7em;
    margin-bottom: .5em;
}

/*-- post form --*/
form {
    margin: 0;
    padding: 0;
}

.makepost > label {
    display: flex;
    color: #888;
    font-size: 0.8em;
}

.makepost > label input {
    flex-grow: 1;
    margin-left: 0.4em;
}

.makepost > textarea {
    width: 50%;
    max-width: 100%;
    min-width: 100%;
    display: block;
}

.makepost-top {
    margin-top: 0;
    background-color: #efe;
    margin: 1em;
    padding: .5em;
}

.makepost-top textarea {
    width: 100%;
}