/*
      ::::::::  :::        :::::::::: :::::::::: :::::::::  :::   ::: ::::::::::: :::     ::::    :::
    :+:    :+: :+:        :+:        :+:        :+:    :+: :+:   :+:     :+:   :+: :+:   :+:+:   :+:
   +:+        +:+        +:+        +:+        +:+    +:+  +:+ +:+      +:+  +:+   +:+  :+:+:+  +:+
  +#++:++#++ +#+        +#++:++#   +#++:++#   +#++:++#+    +#++:       +#+ +#++:++#++: +#+ +:+ +#+
        +#+ +#+        +#+        +#+        +#+           +#+        +#+ +#+     +#+ +#+  +#+#+#
#+#    #+# #+#        #+#        #+#        #+#           #+#        #+# #+#     #+# #+#   #+#+#
########  ########## ########## ########## ###           ###        ### ###     ### ###    ####

                                   .
   .;^^;.  .--..;^^;. .;^^;.     .'
   `  .'  ; .';`  .'  `  .'     ;-..    .-.
    .'   ;.' ;  .'     .'      ;   ;`:  ;
  .;;;;;'`;;' .;;;;;'.;;;;;' .'`::'`-`.'
   .;^^;                          -.;'
   `  .' . ,';.,';. .-.   .-.  . ,';.
     '.  ;;  ;;  ;;;   ;';   ;';;  ;;
  ';;;;'';  ;;  '; `;;'  `;;' ';  ;;
       _;        `-'          ;    `.
*/

/* -- fixups for dumb browser behavior -- */
body { margin: 0; }
main { display: block; }
details { display: block; }
summary { display: list-item; }
[hidden] { display: none; } /* IE10 🤔 */

/*-- resources --*/
@font-face {
    font-family: "MingLiU";
    src: url("/static/MingLiU.woff2");
}

@font-face {
    font-family: "New Heterodox Mono";
    src: url("/static/NewHeterodoxMono.woff2");
}

html {
    font-family: "MingLiU";
    font-size: 1.1rem;
    letter-spacing: .05rem;
}

code, pre {
    font-family: "New Heterodox Mono";
}

.hid {
    font-family: "New Heterodox Mono";
    font-size: 0.8em;
}

/* -- general elements -- */
h1 {
    letter-spacing: 1rem;
}

main {
    margin: 0 5rem;
}

.sticky {
    position: fixed;
    bottom: 0;
    right: 0;
}

/* -- heading, common -- */
.logotype {
    text-decoration: none;
    color: #111;
}

/* -- index page -- */
.board-list .board {
    background-color: antiquewhite;
    margin-bottom: 0.2em;
}

/* -- user page --*/
article.user {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

section.mypage {
    width: 50%;
}

section.posts {
    width: 50%;
}

form.mypage {
    width: 50%;
}

form.mypage textarea {
    display: block;
    width: 100%;
    min-width: 100%;
    max-width: 100%;
}
