{% extends "layout.html" %}
{% import "macros.html" as macros %}

{% macro makepost(board) %}
<form class="makepost" action="/{{board.code}}/post" method="post">
    <label>subject <input type="text" name="subject"></label>
    <textarea name="body"></textarea>
    <input type="submit" value="post">
</form>
{% endmacro %}

{% block main %}
<h2>〝{{board.desc}}〟 <code>/{{board.code}}/</code></h2>

{% if let Some(handle) = common.hctx %}
<div class="makepost-thread">
    {% call makepost(board) %}
</div>
{% endif %}

{% for thread in threads %}
    <div class="thread">
        <span class="subject">「{{thread.subject}}」</span> 
        {% for post in thread.posts %}
            <div class="post" role="article">
                <header><span class="author"><a href="/_/{{post.handle_id}}">❇{{post.handle_name}}</a></span> <span class="timestamp">{{post.create_ts}}</span></header>
                <p>{{post.body}}</p>
            </div>
        {% endfor %}
    </div>
{% endfor %}

{% endblock %}
