{% extends "layout.html" %}
{% import "macros.html" as macros %}

{% macro makepost(board) %}
<form class="makepost">
    <input type="text">
    <input type="submit" value="post">
</form>
{% endmacro %}

{% block main %}
<h2>〝{{board.desc}}〟 <code>/{{board.code}}/</code></h2>

{% if let Some(handle) = common.hctx %}
<div class="makepost-top">
    {% call macros::makepost(board) %}
</div>
{% endif %}

{% for post in posts %}
    <div class="post" role="article">
        <header><span class="subject">「{{post.subject}}」</span> <span class="author"><a href="/_/{{post.handle_id}}">❇{{post.handle_name}}</a></span></header>
        <p>{{post.body}}</p>
    </div>
{% endfor %}

{% endblock %}
