{% extends "layout.html" %}

{% block main %}
<h2>❇{{handle.name}} ❬<span class="hid">{{handle.id}}</span>❭</h2>
<article class="user">
    {% if common.hctx.as_ref() == Some(handle) %}
        <form action="/_/{{handle.id}}/update" method="post" class="mypage">
            <textarea name="desc">{{handle.desc}}</textarea>
            <input type="submit" value="update">
        </form>
    {% else %}
        <section class="mypage">
            {{handle.desc}}
        </section>
    {% endif %}
    <section class="posts">
        <div> POSTCOUNTIGN {{postcount}} </div>
        {% for post in posts %}
        {# todo: shorten posts #}
        <div class="post" role="article">
            <header><span class="subject">「{{post.subject}}」</span></header>
            <p>{{post.body}}</p>
        </div>
        {% endfor %}
    </section>
</article>
{% endblock main %}
