{% extends "layout.html" %}

{% block main %}
<article>
    <h2>sleepy?</h2>
    <p>yeah</p>

    <h2>y no anon</h2>
    <p>for forum signatures !! rawr x3 ,,, and also postcounting</p>

    <h2>why this-long-mess-of-text instead of usernames or emails</h2>
    <p>you can register anonymously and change your name all the time. it can even be the same as someone elses. your handle is fluid; your id stays the same.</p>
    <p>write it and your password down on the back of your eyeballs. or dont</p>

    <h2>formatting?</h2>
    <p>yeah its bbcode, ish. except its not implemented yet lol</p>

    <h2>i fucking hate the features/jannies here</h2>
    <p>bug <code>3moon#0001</code> on discord lol</p>
</article>
{% endblock %}
