{% extends "base.html" %}

{% block content %}
<header>
    <h1><a href="/" class="logotype">sleepytan</a></h1>
</header>
<main>
    {% block main %}
    {% endblock main %}
</main>
<div class="sticky">
    {% block sticky %}
    {%- match common.hctx.as_ref() -%}
    {%- when Some with (hctx) -%}
        <span class="hid">❇{{hctx.name}} ❬<a href="/~{{hctx.id}}"><span class="hid">{{hctx.id}}</span></a>❭</span>
    {%- when None -%}
        <a href="/auth/login">⇶login</a> ░ <a href="/auth/signup">↟signup</a> ░ <a href="/huh">？help</a>
    {%- endmatch -%}
    </code>
    </span>
    {% endblock sticky %}
</div>
{% endblock %}
