{% extends "layout.html" %}
{% import "macros.html" as macros %}

{% macro makereply(board, post) %}
<form class="makepost" action="/_/{{post.id}}/reply" method="post">
    <textarea name="body"></textarea>
    <input type="submit" value="reply">
</form>
{% endmacro %}

{% block main %}
<header>
    <span class="id">{{thread.id}}</span><span class="subject">「{{thread.subject}}」</span>
</header>
{% for post in thread.posts %}
    <div class="post" role="article" id="{{post.id}}">
        <header><span class="author"><a href="/~{{post.handle_id}}">❇{{post.handle_name}}</a></span> <span class="timestamp">{{post.create_ts}}</span></header>
        <p>{{post.body}}</p>
    </div>
{% endfor %}

<div class="makepost-reply">
    {% call makereply(board, thread) %}
</div>

{% endblock %}